body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
    font-size: 14px;
  }
  
  h1 {
    background-clip: text;
  }
  
  .container {
    height: 100%;
    display: flex;
  }
  
  #toolbox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    height: 300px;
    background-color: #3078d3;
    border-radius: 5px;
    margin: 10px;
  }
  
  #toolbox button {
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px;
    margin-top: 10px;
    height: 30px;
  }
  